
/* why isn't this done by /lib/cpp? */
/* #define ultrix */


/*
 *	Set `FONTDESC' to the location of your fontdesc file, unquoted.
 *	This is passed to the library routines so they can find it.
 */

FontDesc=/usr/local/TeX/lib/tex/fontdesc

IprBin=/usr/local/bin

CCOPTIONS=-DASCIIJTEX -DFAKEKANJI -DLAZYFREE
/* CCOPTIONS=-DNTTJTEX -DLAZYFREE */

/***********************************************************************
 *	Configureation options for Xtex:
 */

/*
 *
 *	DISPLAY_POSTSCRIPT
 *		Set this if the client-side provides display postscript.
 *		If the server does not support DPS, you just won't see
 *		anything, but if you specify this & the client doesn't
 *		have it, you'll get compile errors. Note: I've only tried
 *		this with DEC DPS.
 */

#if	defined(ultrix)
#  define DISPLAY_POSTSCRIPT
#else
#  undef  DISPLAY_POSTSCRIPT
#endif

/*
 * you can change this to transientShellWidgetClass if you like; however,
 * the mouse cursor won't be positioned under the 'confirm' button
 * automatically on the goto & print popups.
 */
#if 1
  POPUP_WINDOW_TYPE	=overrideShellWidgetClass
#else
  POPUP_WINDOW_TYPE	=transientShellWidgetClass
#endif
